.App {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 1fr;
  align-items: center;
  justify-items: center;
  font-size: 2rem;
  color: white;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid white;
}

.cell {
  padding: 1rem;
  margin: 0;
  border: 1px solid white;
}
